## Gitignore file for school projects - subject KOC
#Mathcad junk empty file
tahoe.log

#SolidWorks backup files
~$*

#Solidworks and Radeon ProRender exports
/*.avi
/*.bmp
/*.jpg
/*.pdf
/*.png
/*.tga
/*.tiff

#OS junk files
[Tt]humbs.db
*.DS_Store
desktop.ini
